html, body{
  margin: 0px;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.icon{
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  background-color: blanchedalmond; 
  text-align: center;
  position:fixed;
  bottom:0;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 10px;
}


.nav {
  height: fit-content;
  width: 100%;
  margin: 0px;
  color: rgb(33, 31, 29);
  background: #fffffa;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

#nav{
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  /*Overriding css*/
}


.nav li {
  display: inline-block;
  line-height: 40px;
  /* margin: 0 auto; */
  color: rgb(33, 31, 29);
  font-family: Arial, Helvetica, sans-serif;
 
}

.nav li:hover {
  color: #c48d3f;
}