html,
body {
  margin: 0px;
  width: 100vw;
 
  background-image: url("/src/Images/HomeBackground1.jpg");
}

.carousel .thumbs {
  display: none;
}
#about-me-img{
  width: 400px;
}

a:hover p {
  color: #5754a8;
  text-decoration: underline;
}
.project-container{
  
  height: 100vh;
  width: 100vw;
}
.project-div{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: grid;
  grid-template-areas: 
  "pTitle pTitle"
  "pImg pDesc"
  "pImg pLinks";
  grid-template-rows: 150px 150px 150px;
}

#project-image{
  width: 400px;
  height: 250px;
  padding-bottom: 20px;
}
.proj-title{
  grid-area: pTitle;
}
.proj-img{
  grid-area: pImg;
  width: 500px;
}
.proj-desc{
  grid-area: pDesc;
  overflow-y: scroll;
  text-overflow: ellipsis;
}
#desc, #links{
  text-align: start;
}
.proj-links{
  grid-area: pLinks;
}

@media (max-width: 800px){
  .project-div{
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
    "pTitle"
    "pImg" 
    "pDesc"
    "pLinks";
    
  }
  #project-image{
    width: 200px;
    height: 150px;
  }

  .proj-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #desc, #links{
    text-align: center;
  }

  .project-links{
    display: flex;
    justify-content: center;
  }

  #keep-scrolling{
    margin-top: -130px;
  }

 
}


#blog-img{
  width: 200px;
  height: 200px;
}


.story{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#story-container{
  position: relative;
}
#story-text, #story-text2, #story-image2, #story-text3, #story-image3, #story-text4, #story-image4{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#story-text, #story-text2, #story-text3, #story-text4{
  width: 100%;
}
#story-text{
  opacity: 0%;
  animation-name: storyText;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-text2{
  opacity: 0%;
  animation-name: storyText2;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}

#story-text3{
  opacity: 0%;
  animation-name: storyText3;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-text4{
  opacity: 0%;
  animation-name: storyText4;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-image{
  opacity: 0%;
  animation-name: storyImage;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-image2{
  opacity: 0%;
  animation-name: storyImage2;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-image3{
  opacity: 0%;
  animation-name: storyImage3;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}
#story-image4{
  opacity: 0%;
  animation-name: storyImage4;
  animation-duration: 81s;
  animation-iteration-count: infinite;
}


@keyframes storyImage {
  0% { opacity: 1;}
  4.9% { opacity: 1;}
  5.0%{ opacity: 0.2;}
  23.4%{ opacity: 0.2;}
  23.5%{ opacity: 0;}
  100% { opacity: 0;}
}
@keyframes storyText {
  0% { opacity: 0;}
  4.9%{ opacity: 0;}
  5.0%{ opacity: 1;}
  23.4%{ opacity: 1;}
  23.5%{ opacity: 0;}
  100% { opacity: 0;}
}
@keyframes storyImage2 {
  0% { opacity: 0;}
  23.4% { opacity: 0;}
  23.5% { opacity: 1;}  
  28.3%{ opacity: 1;}
  28.4%{ opacity: .2;}
  46.8%{opacity: .2;}
  46.9%{opacity: 0;}
  100% { opacity: 0;}
}
@keyframes storyText2 {
  0% { opacity: 0;}
  28.3%{opacity: 0;}
  28.4%{opacity: 1;}
  46.8%{opacity: 1;}
  46.9%{opacity: 0;}
  100% { opacity: 0;}
}
@keyframes storyImage3 {
  0% { opacity: 0;}
  46.8%{opacity: 0;}
  46.9%{opacity: 1;}
  51.7%{ opacity: 1;}
  51.8%{ opacity: .2;}
  70.2% { opacity: .2;}
  70.3% { opacity: 0;}
  100%{opacity: 0;}
}
@keyframes storyText3 {
  0% { opacity: 0;}
  51.7%{opacity: 0;}
  51.8%{ opacity: 1;}
  70.2%{opacity: 1;}
  70.3%{opacity: 0;}
  100% { opacity: 0;}
}

@keyframes storyImage4 {
  0% { opacity: 0;}
  70.2%{opacity: 0;}
  70.3%{opacity: 1;}
  75.1%{ opacity: 1;}
  75.2%{ opacity: .2;}
  99% { opacity: .2;}
  100%{opacity: 0;}
}
@keyframes storyText4 {
  0% { opacity: 0;}
  75.1%{opacity: 0;}
  75.2%{ opacity: 1;}
  99%{opacity: 1;}
  100% { opacity: 0;}
}

img{
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p{
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
}
p,
input,
.nav li {
  font-family: textFont;
}

#keep-scrolling{
  color:#5754a8;
  font-size: 40px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid white;
  font-family: btnFont;
  border-radius: 3px;
}

@font-face {
  font-family: titleFont;
  src: url("/src/Fonts/BebasNeue.ttf");
}

@font-face {
  font-family: textFont;
  src: url("/src/Fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: btnFont;
  src: url("/src/Fonts/Montserrat-SemiBold.ttf");
}

a {
  text-decoration: none;
  color: white;
}

input, textarea {
  width: 100%;
  height: 40px;
}
textarea{
  max-width: 100%;
}
form {
  width: 400px;
}


.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.blog-div {
  width: 200px;
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(48, 48, 48, 0.4);
  border-radius: 3px;
}



#blog-title {
  font-size: 20px;
}


#home,
.contact-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact-icons{
  bottom: 0;
  position: fixed;
  padding-bottom: 40px;
}

.floating{
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#home{min-height: 100vh;}

#home-btn,
#contact-btn {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  padding: .3em;
  padding-right: .7em;
  padding-left: .7em;
  
}

#home-name{
  animation-name: animatedName;
  animation-duration: 5s;
  display: block;
  animation-iteration-count: 1;
  font-size: 20px;
}

#home-text{
  animation-name: animatedText;
  animation-duration: 5s;
  display: block;
  animation-iteration-count: 1;
  animation-delay: .5s;
  font-size: 20px;
}

.title-text,
.title-name-text {
  font-size: 4em;
  margin-bottom: 0px;
  font-family: titleFont;
}


@keyframes animatedName {
  0% {
    transform: scale(1, 1) translateY(-350px);
  }
  20% {
    transform: scale(1.1, 0.9) translateY(60px);
  }
  40% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  60% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  67% {
    transform: scale(1, 1) translateY(-7px);
  }
  74% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes animatedText {
  0% {
    transform: scale(1, 1) translateY(0px);
  }
  20% {
    transform: scale(1.1, 0.9) translateY(60px);
  }
  40% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  60% {
    transform: scale(1, 1) translateY(0);
  }
  67% {
    transform: scale(1, 1) translateY(0);
  }
  74% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-0px);
  }
}



.icon {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.icon:hover, #blog-date {
  color: #5754a8;
}

.footer {
  opacity: 90%;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 10px;
  /* border-top: 1px solid white; */
  font-size: 12px;
}

#footer-name {
  margin-top: 8px;
  color: #5754a8;
}

.nav {
  height: fit-content;
  width: 100vw;
  margin: 0px;
  border-bottom: 1px solid white;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}

#nav {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  /*Overriding css*/
}

.nav li {
  display: inline-block;
  line-height: 40px;
  /* margin: 0 auto; */
  color: white;
}

.nav li:hover,
button:hover {
  color: #5754a8;
}

h1,
p {
  color: white;
  text-align: center;
}
